@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
}

header {
    font-family: 'New Rocker', cursive;
    background: linear-gradient(#FEFEFE, #888888, #000000);
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
    text-align: center;
}

.logo-top {
    width: 30%;
}

.since {
    align-self: auto;
    display: block;
    color: #FEFEFE;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    margin-right: 15px;
    vertical-align: top;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #c49944;
}

.produtos li:active {
    border-color: #888a25;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
    color: #e7e4e4;
    font-family: 'New Rocker', cursive;
    letter-spacing: 2px
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url("../img/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

.dev {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}


/* css da página inicial */

.banner {
    width: 100%;
    height: 370px;
    margin-bottom: -3px;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    font-family: 'New Rocker', cursive;
    color: #8f6105;
}

.principal {
    padding: 3em 0;
    background: linear-gradient(#000000, #000000, #353434);
    margin: 0 auto;
    text-align: justify;
    margin-bottom: -3px;
}

.div-principal {
    width: 940px;
    margin: 0 auto;
}

.principal p {
    margin: 0 0 1em;
    color: white;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.icon-localizacao {
    display: flex;
    text-align: center;
    justify-content: center;
}

.localizacao-img {
    display: flex;
    width: 10%;
    flex-wrap: wrap;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#353434, #000000, #000000);
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
    color: white
}

.servicos {
    padding: 3em 0;
    background: linear-gradient(#000000, #888888, #ffffff);
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5;
}

.itens:first-child {
    font-weight: bold;
}

.itens:before {
    content: "🟊";
}

.imagem-beneficios {
    width: 60%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 10px 0 #000000;
}

.imagem-beneficios:hover {
    opacity: 0.3;
}

.video {
    width: 560px;
    margin: 2em auto;
    display: none;
}

.facebook-img {
    width: 5%;
    position: fixed;
    bottom: 130px;
    right: 5px;
    Object-fit: cover;
}

.instagram-img {
    width: 8%;
    position: fixed;
    bottom: 60px;
    right: -15px;
    Object-fit: cover;
}

.whatsapp-img {
    width: 5%;
    position: fixed;
    bottom: 6px;
    right: 6px;
    Object-fit: cover;
}

.img-rodape {
    width: 20vw;
}

@media screen and (max-width: 480px) {
    .caixa,
    .principal,
    .conteudo-beneficios,
    .mapa-conteudo,
    .video,
    .div-principal {
        width: auto;
    }
    h1 {
        text-align: center;
    }
    nav {
        position: static;
    }
    .lista-beneficios,
    .imagem-beneficios {
        width: 100%;
    }
    .servicos {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
    .cabelo,
    .barba,
    .cabelo-barba {
        width: 100%;
    }
    .produtos li {
        width: 50%;
    }
    .li-barba,
    .li-cabelo-barba {
        margin-top: 30px;
    }
    .facebook-img {
        width: 12%;
        position: fixed;
        bottom: 118px;
        right: 2px;
    }
    .instagram-img {
        width: 19%;
        position: fixed;
        bottom: 60px;
        right: -15px
    }
    .whatsapp-img {
        width: 13%;
        position: fixed;
        bottom: 10px;
        right: 0;
    }
}

@media screen and (max-width: 521px) and (min-width: 481px) {
    .caixa,
    .principal,
    .conteudo-beneficios,
    .mapa-conteudo,
    .video,
    .div-principal {
        width: 100%;
    }
    h1 {
        text-align: center;
    }
    nav {
        position: static;
    }
    .servicos {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
    .cabelo,
    .barba,
    .cabelo-barba {
        width: 100%;
    }
    .produtos li {
        width: 50%;
    }
    .li-barba,
    .li-cabelo-barba {
        margin-top: 30px;
    }
    .facebook-img {
        width: 12%;
        position: fixed;
        bottom: 118px;
        right: 2px;
    }
    .instagram-img {
        width: 19%;
        position: fixed;
        bottom: 60px;
        right: -15px
    }
    .whatsapp-img {
        width: 13%;
        position: fixed;
        bottom: 10px;
        right: 0;
    }
}

@media screen and (max-width: 600px) and (min-width: 522px) {
    .caixa,
    .principal,
    .conteudo-beneficios,
    .mapa-conteudo,
    .video,
    .div-principal {
        width: 100%;
    }
    h1 {
        text-align: center;
    }
    nav {
        position: static;
    }
    .servicos {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
    .cabelo,
    .barba,
    .cabelo-barba {
        width: 100%;
    }
    .produtos li {
        width: 50%;
    }
    .li-barba,
    .li-cabelo-barba {
        margin-top: 30px;
    }
    .facebook-img {
        width: 12%;
        position: fixed;
        bottom: 140px;
        right: 5px;
    }
    .instagram-img {
        width: 19%;
        position: fixed;
        bottom: 70px;
        right: -14px
    }
    .whatsapp-img {
        width: 13%;
        position: fixed;
        bottom: 10px;
        right: 0;
    }
}

@media screen and (max-width: 750px) and (min-width: 601px) {
    .caixa,
    .principal,
    .conteudo-beneficios,
    .mapa-conteudo,
    .video,
    .div-principal {
        width: 100%;
    }
    h1 {
        text-align: center;
    }
    nav {
        position: static;
    }
    .servicos {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
    .cabelo,
    .barba,
    .cabelo-barba {
        width: 100%;
    }
    .produtos li {
        width: 50%;
    }
    .li-barba,
    .li-cabelo-barba {
        margin-top: 30px;
    }
    .facebook-img {
        width: 12%;
        position: fixed;
        bottom: 165px;
        right: 5px;
    }
    .instagram-img {
        width: 19%;
        position: fixed;
        bottom: 83px;
        right: -21px
    }
    .whatsapp-img {
        width: 13%;
        position: fixed;
        bottom: 10px;
        right: 0;
    }
}

@media screen and (max-width: 839px) and (min-width: 751px) {
    .caixa,
    .principal,
    .conteudo-beneficios,
    .mapa-conteudo,
    .video,
    .div-principal {
        width: 100%;
    }
    h1 {
        text-align: center;
    }
    nav {
        position: static;
    }
    .servicos {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
    .cabelo,
    .barba,
    .cabelo-barba {
        width: 100%;
    }
    .produtos li {
        width: 50%;
    }
    .li-barba,
    .li-cabelo-barba {
        margin-top: 30px;
    }
    .facebook-img {
        width: 12%;
        position: fixed;
        bottom: 197px;
        right: 5px;
    }
    .instagram-img {
        width: 19%;
        position: fixed;
        bottom: 97px;
        right: -25px
    }
    .whatsapp-img {
        width: 13%;
        position: fixed;
        bottom: 10px;
        right: 0;
    }
}

@media screen and (max-width: 925px) and (min-width: 840px) {
    .caixa,
    .principal,
    .conteudo-beneficios,
    .mapa-conteudo,
    .video,
    .div-principal {
        width: 100%;
    }
    h1 {
        text-align: center;
    }
    nav {
        position: static;
    }
    .servicos {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
    .cabelo,
    .barba,
    .cabelo-barba {
        width: 100%;
    }
    .produtos li {
        width: 50%;
    }
    .li-barba,
    .li-cabelo-barba {
        margin-top: 30px;
    }
    .facebook-img {
        width: 12%;
        position: fixed;
        bottom: 210px;
        right: 8px;
    }
    .instagram-img {
        width: 19%;
        position: fixed;
        bottom: 102px;
        right: -27px
    }
    .whatsapp-img {
        width: 13%;
        position: fixed;
        bottom: 10px;
        right: 0;
    }
}